.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    width: 100vmax;
    height: 100vmax;
    /*display: none;*/
    z-index: 9;


    background-color: rgb(255 255 255 / 40%);
    backdrop-filter: blur(10px);

    transition: all 0.3s linear;

    display: none;
}